header{
    background-color: #BBBBBB;
    padding: 20px 0px;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 20px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}

.productos h2{
    font-size: 22px;
    font-weight: bold;
}

.contenido{
    font-size: 18px;
}

.presio{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

/*Capturas de eventos*/

nav a:hover{
    color: blue;
    text-decoration: underline;
}

.productos li:hover{
    border-color: springgreen;
}

.productos li:active{
    border-color: crimson;
}

.productos li:hover h2{
    font-size: 30px;
}

footer{
    text-align: center;
    background: url(imagen/bg.jpg);
    padding: 40px;
}

/*Aquí acaban los efectos dentro del HTML*/

.copiright{
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin: 0 auto;
}

/*Aquí empiezan los estilos de la pagina de Contacto.html*/
main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0px;
}

form label, form legend, form p{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.check-box{
    margin: 20px 0px;
}

.enviar{
    width: 45%;
    padding: 15px 0px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: blue;
    border: none;
    border-radius: 6px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: rgb(26, 247, 55);
    transform: scale(1.1);
}

table{
    margin: 40px 40px;
}

thead{
    background: black;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1.5px solid black;
    padding: 8px 15px;
}